/* diary.css */


.diary{
    margin-top: 3rem;
}

.diary-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.diary-entry {
    width: 20rem;
    background-color: white;
}

.date {
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    width: 20rem;
    height: 90px; /* Adjust height as needed */
    background-color: #f9f9f9;
    vertical-align: top;
    overflow-wrap: break-word; /* Wrap long words */
    white-space: pre-wrap; /* Wrap text and preserve line breaks */
}

.content-no-edit {
    width: 20rem;
    height: 90px; /* Adjust height as needed */
    background-color: #f9f9f9;
    vertical-align: top;
    overflow-wrap: break-word; /* Wrap long words */
    white-space: pre-wrap; /* Wrap text and preserve line breaks */
}

.diary-entry textarea {
    resize: none;
    color:black;
}

.buttons-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons-container p{
    color: black;
}

.add-DiaryEntry, .turn-edit, #edit-submit-button{


    background-color: #17B169;
    padding: .4rem .8rem;
    width: fit-content;
    color: white;
    border-radius: 2rem;
    width: 10rem;
}

#edit-submit-button{
    margin: 0 0 .6rem 2.5rem;
}

.turn-edit,.add-DiaryEntry {
    margin: 0 0 .6rem 0;
}

#container-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons-width{
    width: fit-content;
}
#container-buttons >div{
    width: fit-content;
}


p.add-DiaryEntry{
    color:aquamarine;
    font-size: 2rem;
    border: solid black;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
}

button.add-DiaryEntry:hover, .turn-edit:hover,.calendar-buttons button:hover,  #edit-submit-button:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 5px grey;
}


.calendar-buttons button{
    padding: .4rem .8rem;
    margin-bottom: .2rem;
    width: fit-content;
    color: #17B169;
    
}

.edit-content{
    display:flex;
}

.edit-button-disabled{
    display:none;
}

.edit-button{
    display:flex;
}

.Edit-Message{
    color:red
}



.calendar-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;  

  }
#deselect-date-button{
    border-left: 1px solid black;
}



.not-found{
    color:red;
    font-size: 2rem;
    border: solid black;
    background-color: white;
    width: fit-content;
    border-radius: 1rem;
    padding:2rem;
}

.calendar-view{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Health-area{
    position: absolute;
    right: 5rem;
    top:3.8rem;
    
}

@media (max-width: 1050px) {
    #Health-Diary{display: flex;
    }
    #Health-area{
        position: unset;
        right: unset;
        top: unset;
        margin-top: 1rem;
        margin-right: 2rem;
    }
}