/* diary.css */

body {
    background-color: #D4E5D5 !important;
}

.diary{
    margin-top: 3rem;
}

.diary-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.diary-entry {
    width: 20rem;
    background-color: white;
}

.date {
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    width: 20rem;
    height: 90px; /* Adjust height as needed */
    background-color: #f9f9f9;
    vertical-align: top;
    overflow-wrap: break-word; /* Wrap long words */
    white-space: pre-wrap; /* Wrap text and preserve line breaks */
}

.content-no-edit {
    width: 20rem;
    height: 90px; /* Adjust height as needed */
    background-color: #f9f9f9;
    vertical-align: top;
    overflow-wrap: break-word; /* Wrap long words */
    white-space: pre-wrap; /* Wrap text and preserve line breaks */
}

textarea{
    resize: none;
    color:black;
}

.buttons-container{
    display: flex;
    flex-direction: column;
}

button.add-DiaryEntry, .turn-edit{
    color:mediumspringgreen;
    font-size: 2rem;
    border: solid black;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
    width: 100%;
}

#container-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons-width{
    width: fit-content;
}
#container-buttons >div{
    width: fit-content;
}

p.add-DiaryEntry{
    color:aquamarine;
    font-size: 2rem;
    border: solid black;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
}

button.add-DiaryEntry:hover, .turn-edit:hover{
    color:aquamarine;
}

.edit-content{
    display:flex;
}

.edit-button-disabled{
    display:none;
}

.edit-button{
    display:flex;
}

.Edit-Message{
    color:red
}

.calendar-buttons{
    display:flex;
    flex-direction: column;
}

.calendar-buttons button:hover{
    color:coral;
}

.not-found{
    color:red;
    font-size: 5rem;
    border: solid black;
    background-color: white;
    border-radius: 1rem;
    padding:2rem;
}

#Health-area{
    position: absolute;
    right: 5rem;
    top:5rem;
    
}

@media (max-width: 1050px) {
    #Health-Diary{display: flex;}
    #Health-area{
        position: unset;
        right: unset;
        top: unset;
        margin-top: 1rem;
        margin-right: 2rem;
    }
}