/* Modal overlay */
.plan-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: white;
  }
  
  /* Modal container */
  .plan-modal {
    background-color: #F3F0E4;
    color: #668D7F;
    padding: 20px;
    border-radius: 8px;
    max-width: 70rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative; /* Add position relative for absolute positioning */
  }
  
  /* Modal header */
  #plan-modal-header {
    position: absolute;
    top: 0;
    right: 0.5rem;
  }
  
  /* Close button */
  #plan-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
  }
  
  /* Modal content */
  .modal-content {
    margin-top: 20px;
  }
  
  /* Profile form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left; /* Align labels to the left */
    margin-bottom: 5px;
  }
  
  
  input[type='text']{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc; /* Add bottom border */
    background-color: transparent; /* Remove background */
    outline: none; /* Remove default focus outline */
  }
  
  /* Add focus styles */
  input[type='text']:focus {
    border-bottom-color: #5c9e73;
  }
  

  
  .day-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  .day-options > div {
    display: flex;
    align-items: center;
  }

  select{
    margin-left:1rem;
  }
  
  /* Button */
  #plan-submit-button {
    background-color: #2f6959;
    color: white;
    border: none;
    padding: 8px 16px; /* Adjust smaller padding */
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 10rem;
    align-self: center; /* Center the button */
  }
  
  #plan-submit-button:hover {
    background-color: #5c9e73;
  }
  
  /* Legend */
  legend {
    font-size: 1.4rem; /* Increase font size */
    font-weight: bold; /* Make bold */
    margin-bottom: 1rem;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }