.plan-page-table {
    color: #668D7F;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 80%;
    background-color: #d5e2dd;
}


.plan-page-table td {
    text-align: center;
    border: 1px solid;
    height: 5rem;

}

.plan-page-table td:first-child {
    width: 8rem; /* Adjust the width as per your requirement */
}