.body{
  background: #668D7F !important;

}

.intro{
  color: #F3F0E4;
  font-family: Inika;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 37.5% */
  width: 40rem;
  margin-top: 5rem;

  }

.chatbot-intro{
  color: #F2F0E3;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.40625rem */
  letter-spacing: -0.01031rem;
  width: 26rem;
  margin-top: 4rem;

}

#chat-button{    
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.125rem */
  letter-spacing: -0.00825rem;
  margin-top: 1rem;
  border: 2px solid #F3F0E4; /* White outline */
  background-color: transparent; /* Transparent background */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer; /* Add cursor pointer */
  color: #F3F0E4;
}

#chat-button:hover{
  background-color: #ffffff; /* White background on hover */
  color:#668D7F
}

.left{
  margin-left: 6rem;
}

.HomeImg{
  position: absolute;
  margin-left: 48.5rem;
  margin-top: -28.2rem;
  width: 47%;
  height: 85%;
}

#profile-sect {
  position: absolute;
  margin-left: 39rem;
  margin-top: -4rem;
  border-radius: 1.5625rem;
  background: #F3F0E4;
  z-index: 1;
  width: 12.5625rem;
  height: 15.25019rem;
}

.profile-photo{
  margin-left: 4rem;
  margin-top: 2rem;
}

.details{
  margin-top: 1rem;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 218.182% */

}

.edit-profile{
  margin-top: 0.4rem;
  margin-left: 0.9rem;
  background: #668D7F;
  border-radius: 2.5rem;
  width: 8.7025rem;
  height: 2.18869rem;
}










  
 
  
 
  

