/*General Page Styling*/
.homepage-grid{
    display:grid;
    height:100%;
    width:100%;
    grid-template-columns: 45% 55%;
    grid-template-rows: 50% 20% 30%;
    gap:1rem;
    }
.profile-sect, #plan-sect,#articles-sect{

    background-color: #BDCCBE;
}
.profile-sect, #plan-sect{
    grid-column:1/1;
    height: 28rem;
    width: 100%;
}

/*Left Side of Homepage*/
.profile-sect{
    grid-row: 2;
    grid-column: 1;
}
#plan-sect{
    grid-row: 3;
    grid-column: 1;
}

/*chat bot connect button css*/
#chat-button{    
    background-color: white;
    padding: 5px;
    margin-top: 50px;
    width: 10rem;
    height: 3rem;
    font-size: 25px;
}

#top-bit-container{
    grid-row:1;
    grid-column: 1/span2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#home-chatbot-section{
    background-image: url("../../components/images/image\ 1.png");
    background-repeat:no-repeat;
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0.55; 
    z-index: -1; 
    
}

#top-bit-container > h1{
    font-size: 80px;
    font-weight: bold;
}

#top-bit-container > p{
    font-size: 19px;
}


#chat-button:hover{
    background-color: lightgray;
    color:black;
    box-shadow: 2px 2px 5px grey;
}

/*Right Side of Homepage*/
#articles-sect{
    grid-row: 2/ span 2;
    grid-column:2/2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

/*css for the articles*/

.home-article-container:hover,#see-more-button:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 5px grey;
}

.home-article{
    text-align: left;
}

.Article-column{
    display: flex;
}

.home-article-container{
    text-align: left;
    width: 100%;
    height:fit-content;
    background-color: #BDCCBE;
}

.home-article-content{
    padding: 20px;
}

.img-container{
    display: flex;
    justify-content: center;
}
.home-img{
    height: 20rem;
    width:20rem;
}

.home-article-title{
    padding: 20px;
    font-weight: bold;
    text-align: center;
}


#see-more-button{
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
    width: 5rem;
    align-self: center;
}



