

.PremadeName{
  color: #F3F0E4;
  text-align: center;
  font-family: Inika;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; 
  width: 40rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-left: 7rem;
}

.planName{
  color: #F3F0E4;
  font-family: Inika;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  width: 40rem;
  margin-bottom: 1rem;
  margin-top: -3rem;

}

.changePlanContainer{
  margin-left: 6rem;
  
}

.changePlanContainer2{
  margin-top: 7rem;
}

/* Container Style: Flexbox for Easy Layout */
.planFieldContainer {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  gap: 4rem;
  max-width:70rem;
  justify-content: center;
  
}

.planField {
  width: 16.125rem;
  height: 24.8125rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}

  .planField button:hover {
    box-shadow: 0rem 0rem 5rem rgb(40, 50, 61) ; 
  }
  
  /* Paragraph Style: Ensure Text is Centered */
  .planField button{
    width: 100%;
    height: 100%;
  } 

  .new{
    color: #F3F0E4;
    font-family: Inika;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;

  }

  .bottom-style {
    margin-top: 18.3rem; /* Align content to start from the top */
    height: 7rem;
    padding: 1rem; /* Adjust padding as needed */
    background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0.09) 0%,
      rgba(176, 189, 184, 0.42) 20%,
      #668b7d 78.5%
    );
    z-index: 1;

  }
  
  .plan-title{
    color: #FFF;
    text-align: left;
    font-family: Inika;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 75% */
  }

  .plan-duration{
    color: #FFF;
    text-align: left;
    font-family: "Inria Serif";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
  }

  .select-plan{
    color: #000;
    text-align: center;
    font-family: "Inria Serif";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 200% */
    background: #F3F0E4;
    width: 5.625rem;
  }

  .newPlan{
    position: absolute;
    right: 3%;
    top: 40%;
    color: #FFF;
    text-align: center;
    font-family: Inika;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 75% */
    width: 12.5625rem;
  }


/* Dropdown container */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  background: #F3F0E4;
  color: #3C524C;
  padding-inline: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 11.8rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content label {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content label:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.filterPlanContainer{
  margin-left: 50rem;
  margin-top: -3rem;
 
}

.back-button{
  background: #F3F0E4;
  color: #3C524C;
  padding-inline: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left:-48rem ;
  margin-top:15rem;
  position: absolute;
}

.addedPlan{
  color: #F3F0E4;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

  