/* articles.css */

body {
    background-color: #D4E5D5 !important;
}

.title {
    color: #6A6F6A;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2rem; /* 106.667% */
    letter-spacing: -0.03563rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.article-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18rem;
    padding-inline: 2rem;
    background-color: white
}

.article-content {
    width: 55rem;
    margin-top: 2rem;
    column-count: 3;
    column-gap: 2rem;
    height: 42rem;
}

.article-title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 120% */
    letter-spacing: -0.02375rem;
    height: 3.375rem;
    margin-top: 1rem;
}

.article-body {
    color: #726969;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 120% */
    letter-spacing: -0.02375rem;
}

.article-body p {
    margin-bottom: 1.5em;
}

.articleView-container, 
.articleView-container1, 
.articleView-container2,
.articleView-container3,
.articleView-container4,
.articleView-container5 {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    position: absolute;
    left: 5%;
}

.articleView-container{
    top: 32%;
}

.articleView-container1{
    top: 18%;
}

.articleView-container2{
    top: 44%;
}

.articleView-container3{
    top: 56%;
}

.articleView-container4{
    top: 68%;
}

.articleView-container5{
    top: 80%;
}


.articleView-image {
    margin-right: 20px;
}

.articleView-title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    width: 12rem;
    text-align: left;
}

.articleView-title:hover {
    color: #658b7b;
}

.articleView-date {
    color: #6A6F6A;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.line {
    position: absolute;
    left: 3%;
    width: 18rem; 
    height: 0.0625rem; 
    background-color: black; 
  }

  .line:nth-child(1) { top: 30%; }
  .line:nth-child(2) { top: 42%; }
  .line:nth-child(3) { top: 54%; }
  .line:nth-child(4) { top: 66%; }
  .line:nth-child(5) { top: 78%; }


