#add-article{
    margin-top: 25rem;
    margin-left: 53rem;
    background: #8FB099;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
}

.more{
    margin-top: 8rem;
    margin-left: 57rem;
    width: 11.6rem;
    text-align: left;
    color: #F3F0E4;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; 
    letter-spacing: -0.02138rem;

}

.navbar {
    z-index: 1; 
}

.article-container #del{
    width: 10rem;
    padding: 0.5rem;
    color: white;
    background-color: #8FB099;
    border-radius: 5px;
}

.article-img{
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden; /* Hide overflow content */
    max-height: 30rem;
}

.article-container {
    position: absolute;
    padding: 0.5rem;
    margin-top: 2rem;
    top: 52%;
    left: 3%;
}

.article-content {
    width: 58rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.article-title {
    color: #F3F0E4;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8125rem; /* 93.75% */
    letter-spacing: -0.057rem;
    width: 38.75rem;
    height: 3.375rem;
    flex-shrink: 0;
}

.article-body p {
    margin-bottom: 1.5em;
    
}

.article-body{
    margin-top: 4rem;
    width: 47.6875rem;
    flex-shrink: 0;
    color: #F3F0E4;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
    letter-spacing: -0.02375rem;
}

.article-bar{
    margin-left: 70rem;
}


.articleView-title {
    margin-top: 5rem;
    width: 11.6rem;
    text-align: left;
    color: #F3F0E4;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; 
    letter-spacing: -0.02138rem;
    
}

.articleView-title:hover {
    color: #425b51;
}

.articleView-date {
    color: #F3F0E4;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}




