.title-contact{
    color: #F3F0E4;
    font-family: Inika;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    margin-left: -47rem;
    margin-top: 2rem;
}

#image1{
    margin-left: 25rem;
    margin-top: 5rem;
    position: absolute;
    z-index: -1;

}

#Feedback {
    width: 32rem;
    height: 35rem;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #F3F0E4;
    margin-left: -32.5rem;
    margin-top: 2.5rem;
    
}

#Feedback form {
    display: flex;
    flex-direction: column;
}

#Feedback select,
#Feedback textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: transparent;
    resize: none; 
    outline: none;
}
 
/*Feedback Form Buttons*/
#Feedback .buttons{
    display:flex;
    justify-content: center;
}
  
#Feedback select {
    width: 100%;
}


#Feedback textarea {
    width: 100%;
    resize: vertical;
    background-color: none;
    color: black;
}

#Feedback .submit-button, #Feedback #clear {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #76a192;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
}

#Feedback #clear {
    margin-left: 1rem;
}

#Feedback #message{
    font-size: 0.8rem;
    padding-top: 0.3rem;
    margin-left: 1.27rem;
    text-align: center;
}

/*Viewng Feedback Button*/
#Feedback .submit-button:hover, #Feedback #clear:hover {
    background-color: #227848
}

#view-log{
    background-color: #76a192;
    padding: 0.6rem;
    margin-left: 70rem;
    margin-top: -3rem;
    font-size: 1rem;
    color: white;
}

#view-details{
    padding-top: 0.5rem;
    font-size: 1rem;
}

#view-details:hover{
    color: #6aae85;
}

#Information
{
    display: flex; flex-direction: column; gap: 2rem;
    margin-left: 2rem; margin-right: 2rem;
    margin-top: 4rem; margin-bottom: 4rem;
}