 #HealthTracker{
    padding: 1rem;
    border-radius: 0.5rem;
    color: black;
 }

 #weight-overlay,#addweight-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 }

 #weight-overlay >ul{
    width: fit-content;
 }
 #close-button{
    text-align: right;
    width: 100%;
 }

 #weight-width,#addweight-contianer{
   width: fit-content;
   background-color: white;
   padding: 1rem;
   border-radius: 0.5rem;
 }


 .list-items{
   padding: 10px;
   font-size: 2rem;
   color:  #17B169;
   font-weight: bold;
   border-bottom: 1px solid grey;
 }

 #addweightbutton{
   padding: 10px;
   border: 1px solid grey;
   border-radius: 0.5rem;
 }
 #addweightbutton:hover,#week-weight-button:hover{
   transform: scale(1.05);
   box-shadow:2px 2px 5px rgba(0, 0, 0, 0.15);
 }

 #addweightcenter{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   font-size: 1.5rem;
 }
 
 .healthtracker-css > *{
   width: 100%;
   padding: 2px;
   font-size: 15px;
 }

 .healthtracker-css > div{
   display: flex;
   justify-content: center;
   border-bottom: none;

 }
 .healthtracker-css > div >div{
   display: flex;
   flex-direction: row;
   width: fit-content;
 }

 .healthtracker-css > div > div >div {
   margin-top: 0.5rem;
   width: 100%;

 }

 .healthtracker-css > div > div>div >button,#week-weight-button{
   color: #3C524C;
   font-weight:normal;
   color: #3C524C;
    font-size: 1rem;
    margin-left: 1rem;
    background: #F3F0E4;
    padding: 0.2rem;
    width: 6rem;
 }

 #week-weight-button{
   border-bottom: unset;
   width: fit-content;
   margin-top: 2px;
   padding:2px 4px 2px 4px;
 }

 