/*Entry Display*/
.feedback-log{
    display: flex;
    width: 100%;
    height: 22.5rem;
    overflow: auto;
    white-space: nowrap;
}
.feedback-log div{
    margin:1rem;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #8AA48E;
}

/*Delete Button*/
.feedback-log #del{
    margin-top: 1.5rem;
    float: right;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 2rem;
    color: white;
    background-color: #8FB099;
}
/*Entry Scroll Bar*/
.feedback-log::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1rem;
    border-radius: 1rem;
    background-color: lightgray;
}
.feedback-log::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgb(255, 253, 253);
    box-shadow: 0 0 0.25rem rgba(255, 255, 255, .5);
}
