.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.profile-photo {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between elements */
}

.profile-photo img {
    width: 80%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
}

.details {
    flex: 2;
    margin: 0 10px; /* Adjust spacing between elements */
}

.edit-profile {
    flex: 1;
    margin-left: 10px; /* Adjust spacing between elements */
}

.edit-profile button {
    width: 100%;
    padding: 10px;
    background-color: #17B169;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
}

.edit-profile button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px grey;
}


