



.plan-container table{
    margin-top: 1rem;
    
    
    overflow: hidden;
    width: 80%;
    background-color: white;
}

.name-cell{
    border: 1px solid;
    width: 25%;
    height: 50px;
    margin: 10px;
    text-align: center;
}

.data-container{
    border: 1px solid;
    width: fit-content;
}

.plan-container{
    margin-left: 2.5rem;
}