.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 3.2rem;
    padding-right: 1rem;
}

.nav-links {
    display: flex;
}

.nav-links li, form {
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a:hover {
    color:#17B169;
}

.logo {
    padding-top: 1%;
    left: 5%;
    width: 7rem;
}

.nav-links li.active a{
    /* Modify this to change what selected looks like */
  color: red;
}


li button {
    background-color: none;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    border-radius: 2rem;
}

li button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px grey;
}
