/* ProfileModal2.css */

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal container */
.modal {
  background-color: #F3F0E4;
  color: #668D7F;
  padding: 20px;
  border-radius: 8px;
  max-width: 20rem;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Modal header */
#modal-header {
  display: flex;
  justify-content: flex-end;
}

/* Close button */
#close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

/* Modal content */
.modal-content {
  margin-top: 20px;
}

/* Profile picture */
.profilePicture {
  text-align: center;
  width: 5rem;
  margin-left: 6rem;
}

.profilePicture label {
  cursor: pointer;
}

/* Profile form */
form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left; /* Align labels to the left */
}

/* Resetting default input styles */
input[type='text'],
input[type='checkbox'] {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc; /* Add bottom border */
  background-color: transparent; /* Remove background */
  outline: none; /* Remove default focus outline */
}

/* Add focus styles */
input[type='text']:focus,
input[type='checkbox']:focus {
  border-bottom-color: #5c9e73;
}

/* Styling for checkboxes */
input[type='checkbox'] {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 0.5rem;
}

.checkbox-container {
  display: flex; /* Arrange checkboxes in a row */
}

/* Style for checkboxes */
.checkbox-container label {
  margin-right: 15px; /* Add some spacing between checkboxes */
}


#modal-save-button {
  text-align: center;
  margin-top: 20px;
}

.save {
  background-color: #2f6959;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.save:hover {
  background-color: #5c9e73;
}
