#miniNav button{

    background-color: #76a192;

    padding: .4rem .8rem;
    margin: 1rem 0.5rem;
    width: fit-content;
    color: white;
}

#miniNav button:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 5px grey;
}

#switchButton{
    padding: .4rem 1.5rem !important;
}

.plan-buttons{
    margin-left: 65rem;
}
 