/*Page Banner Styling*/
.banner{
    height:5rem;
    background-color: whitesmoke;
    width: 100%;
}
.banner  #img{
    width:10rem;
    height:6rem;
}
.banner p{
    color: gray;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

/*General Form Styling*/
.sign-in-form form{
    display: grid;
    background-color: #BDCCBE;
    width: 45rem;
    height: 25rem;
    margin-top: 20%;
    padding: 1.5rem;
    border-radius: 2rem;
    color: grey;
}


#form-title{
    grid-row: 1/1;
    grid-column: 1 /span 2;
    text-align: center;
    font-size: 2.9rem;
}

/*Form Inputs/Outputs Styling*/
.sign-in-form div{
    display: flex;
    flex-direction: column;
    grid-column: 1 /span 2;
    font-size: 1.2rem;
}

.sign-in-input label{
    font-size: 1.5rem;
}

.sign-in-input input{
    border-radius: 0rem;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 .8rem;
    background-color: azure;
}

.sign-in-input input:focus{
    outline: none;
    border: 1px solid #17B169;
}


#message{
    margin-top: 3rem;
    grid-column: 1 /span 2;
}


/*Form Button Styling*/
.button{
    width: 12rem;
    margin-left: 22.5%;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    background-color: #17B169;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 1rem ;
    border-radius: 2rem;
}

.button:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 5px grey;
}

.app-name{
    color: #009999;
}
.form-header-part1{
    color: #ff1ac6;
}
.form-header-part2{
    color:#ff8000;
}
.form-header-part3{
    color: #3366cc;
}